.page-header {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #000;

  &__container {
    .container;
  }

  &__row {
    .row;
    align-items: center;
  }

  &__logo {
    .col-(2);
  }
}
